.main-content {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}


.main-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-content section {
    margin-bottom: 20px;
    scroll-margin-top: 55px;
    margin-top: 55px;

}

.main-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1em;
    line-height: 1.5;
}