.body {
  font-family: Arial, sans-serif;
}

.main-content {
  padding: 20px;
  text-align: center;
}




.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 

}


.hero-basic,
.hero-basic * {
  box-sizing: border-box;
}
.hero-basic {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-end;
  height: 90vh;
  position: relative;
}
.text-content-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.title {
  color: var(--var-sds-color-text-default-default, #e8e8e8);
  text-align: left;
  font-family: var(--title-hero-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-hero-font-size, 72px);
  line-height: var(--title-hero-line-height, 120%);
  letter-spacing: var(--title-hero-letter-spacing, -0.03em);
  font-weight: var(--title-hero-font-weight, 700);
  position: relative;
  align-self: stretch;
}